<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
  <script>
    window.onload = function () {
        var vm1 = new Vue({
            el : '#test1',
            data : {
                array1 : [10, 20, 30, 40, 50],
                input1 : '',
                array2 : []
            },
            methods : {
                addArray2 : function () {
                    this.array2.push(this.input1)
                    this.input1 = ''
                }
            }
        })
    }
  </script>
</head>
<body>
  <div id="test1">
    <ul>
      <li v-for="a1 in array1">
        {{a1}}
      </li>
    </ul>
    <hr />

    <ul>
      <li v-for="(a1, idx) in array1">
        {{idx}} : {{a1}}
      </li>
    </ul>
    <hr />

    <input type="text" v-model="input1" />
    <button type="button" @click="addArray2">추가</button>
    <ul>
      <li v-for="a2 in array2">{{a2}}</li>
    </ul>
  </div>
</body>
</html>